.app_green_theme {
    --bg-color: #344e41;
    --inverted-bg-color: #dad7cd;
    --primary-color: #a3b18a;
    --secondary-color: #dad7cd;
    --inverted-primary-color: #3a5a40;
    --inverted-secondary-color: #588157;
}
