.app_green_theme {
    --bg-color: #383838;
    --inverted-bg-color: #dad7cd;
    --primary-color: #a3b18a;
    --secondary-color: #dad7cd;
    --inverted-primary-color: #3a5a40;
    --inverted-secondary-color: #588157;

    // skeleton
    --skeleton-color: #588157;
    --skeleton-shadow: #a3b18a;

    // code
    --code-bg: #515151;
}
